h1 {
    font-size: 2em;
    color: #f70707;
    text-align: center;
    margin-top: 20px;
    text-shadow: 1px 1px 2px #080505; 
}

h2 {
    font-size: 1.5em;
    color: #020202;
    margin-top: 15px;
    text-align: left;
}

p {
    font-size: 1em;
    color: #000000;
    line-height: 1.6;
    margin: 10px 0;
}
.button1{
    background-color: #4400ff; 
    border: none;
    color: white;
    color: #f70707;
}

.button2{
    background-color: #f70707; 
    border: none;
    color: white;
    color: #4400ff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #797676;
    margin: 0;
    padding: 20px;
}